main {
    background-image: url("../img/bg.jpg") ;
    background-size: cover;
    min-height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
}

.white {
    color: white;
}

.titleCorps {
    font-size: 1.4rem;
}

.rounded-top-left-1 {
    border-top-left-radius: 0.25rem;
}

.rounded-top-right-1 {
    border-top-right-radius: 0.25rem;
}

.rounded-bottom-left-1 {
    border-bottom-left-radius: 0.25rem;
}

.rounded-bottom-right-1 {
    border-bottom-right-radius: 0.25rem;
}

.green {
    color: rgba(28, 173, 28, 0.89);
}

.red {
    color: coral;
}

.leftMenu {
    height: 80%;
    width: 80%;
    border-radius: 20px;
}

.leftMenu img {
    max-height: 100%;
    min-height: 80%;
    max-width: 100%;
    border-radius: 20px;
}

.topInterface {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gold-panel {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold-panel img {
    max-width: 100%;
    max-height: 100%;
}

.cleftMenu {
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}