body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

main {
    background-size: 100% 100%;
    min-height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.white {
    color: white;
}

.titleCorps {
    font-size: 1.4rem;
}

.rounded-top-left-1 {
    border-top-left-radius: 0.25rem;
}

.rounded-top-right-1 {
    border-top-right-radius: 0.25rem;
}

.rounded-bottom-left-1 {
    border-bottom-left-radius: 0.25rem;
}

.rounded-bottom-right-1 {
    border-bottom-right-radius: 0.25rem;
}

.green {
    color: rgba(28, 173, 28, 0.89);
}

.red {
    color: coral;
}

.leftMenu {
    height: 90%;
    width: 90%;
    border-radius: 20px;
    z-index: 999;
    background-image: url(../img/wood-panel-clicker.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ongletsPanel {
    width: 100%;
    height: 100px;
    display: flex;
    /* background-color: goldenrod; */
}

.ongletClicker {
    width: 4vw;
    height: 7vh;
    margin: 1.4vw 0 0 6.2vw;
    /* background-color: goldenrod; */
}

.ongletIdle {
    width: 4vw;
    height: 7vh;
    margin: 1.4vw 0 0 1.4vw;
    /* background-color: goldenrod; */
}

.ongletSkin {
    width: 4vw;
    height: 7vh;
    margin: 1.4vw 0 0 1.4vw;
    /* background-color: goldenrod; */
}

.ongletMap {
    width: 4vw;
    height: 7vh;
    margin: 1.4vw 0 0 1.4vw;
    /* background-color: goldenrod; */
}

/* .leftMenu img {
    max-height: 100%;
    min-height: 80%;
    max-width: 100%;
    border-radius: 20px;
} */

.topInterface {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold-panel {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold-panel img {
    max-width: 100%;
    max-height: 100%;
}

.map-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    right: 44px;
}

.img-map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cGame {
    display: flex;
}

.cleftMenu {
    height: 80vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cRight {
    height: 80vh;
    width: 60vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aliceblue; */
}

#dino {
    /* background-image: url(../img/sprites/dino1/Walk1.png); */
    position: relative;
    /* margin-right: 400px; */
    margin-left: 200vw;
    right: 0;
    max-width: 50%;
}

#character {
    /* background-image: url(../img/sprites/dino1/Walk1.png); */
    position: relative;
    /* margin-right: 400px; */
    margin-left: -80vw;
    z-index: 1;
    left: 0;
    max-width: 50%;
}

.cHealthBar {
    border: 8px solid #663399;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 5;
}

.cHealthBarInner {
    background-color: rgb(240, 79, 67);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 4;
    width: 22vw;
}

@media (min-width: 576px) { 
    .cHealthBar {
        width: 22vw;
        height: 4vh;
        position: absolute;
        top: 44vh;
        margin-left: 34vw;
    }

    .cHealthBarInner {
        background-color: rgb(240, 79, 67);
        height: 4vh;
        position: absolute;
        top: 44vh;
        margin-left: 34vw;
    }
}

@media (min-width: 768px) { 
    .cHealthBar {
        width: 22vw;
        height: 5vh;
        position: absolute;
        top: 40vh;
        margin-left: 34vw;
    }

    .cHealthBarInner {
        background-color: rgb(240, 79, 67);
        height: 5vh;
        position: absolute;
        top: 40vh;
        margin-left: 34vw;
    }

    .cHealthBar img {
        height: 84px;
        width: 84px;
        margin-top: -28px;
        margin-left: -34px;
    }
}

@media (min-width: 992px) { 
    .cHealthBar {
        width: 22vw;
        height: 5vh;
        position: absolute;
        top: 39vh;
        margin-left: 32vw;
    }

    .cHealthBarInner {
        background-color: rgb(240, 79, 67);
        height: 5vh;
        position: absolute;
        top: 39vh;
        margin-left: 32vw;
    }

    .cHealthBar img {
        height: 68px;
        width: 68px;
        margin-top: -22px;
        margin-left: -34px;
    }
}

@media (min-width: 1200px) { 
    .cHealthBar {
        width: 22vw;
        height: 5vh;
        position: absolute;
        top: 30vh;
        margin-left: 30vw;
    }

    .cHealthBarInner {
        background-color: rgb(240, 79, 67);
        height: 5vh;
        position: absolute;
        top: 30vh;
        margin-left: 30vw;
    }

    .cHealthBar img {
        height: 84px;
        width: 84px;
        margin-top: -28px;
        margin-left: -34px;
    }
}

.coinsEarning {
    display: flex;
    position: absolute;
    z-index: 5;
    animation: earningAppend 500ms ease-in-out;
}

.coinsEarning p {
    font-size: 34px;
    color: gold;
    text-shadow: -2px 0 goldenrod, 0 2px goldenrod, 2px 0 goldenrod, 0 -2px goldenrod;
}

.coinsEarning img {
    height: 50px;
    width: 44px;
    margin-left: 6px;
}

@keyframes earningAppend {
  0% {
    padding-left: -20px;
    padding-bottom: -20px;
    opacity: 0;
  }

  50% {
    padding-left: 0px;
    padding-bottom: 0px;
    opacity: 1;
  }

  100% {
    padding-left: 10px;
    padding-bottom: 10px;
    opacity: 0;
  }
}

.myGold {
    display: flex;
    position: absolute;
    color: gold;
    font-weight: bold;
    font-size: 1.8vw;
}

.myGold p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.myGold img {
    max-height: 44px;
    max-width: 44px;
    margin-left: 6px;
}

.perksClicker {
    height: 12vh;
    width: 96%;
    background-image: url(../img/clickerperks-texture.jpg);
    background-size: 100%;
    position: relative;
    margin-top: 24px;
    margin-left: 4px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 5px solid whitesmoke;
}

.perksIdle {
    height: 12vh;
    width: 96%;
    background-image: url(../img/clickerperks-texture.jpg);
    background-size: 100%;
    position: relative;
    margin-top: 24px;
    margin-left: 4px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 5px solid whitesmoke;
}

.woodPanel {
    height: 50vh;
    width: 70%;
    margin-top: 12vh;
    margin-left: 5vw;
    overflow: scroll;
    overflow-x: hidden;
}

/* width */
.woodPanel::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.woodPanel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.woodPanel::-webkit-scrollbar-thumb {
  background: rgb(21, 179, 21);
}

/* Handle on hover */
.woodPanel::-webkit-scrollbar-thumb:hover {
  background: rgb(25, 199, 25);
}

/* PERKS */

.cPerksInfos {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.cPerksInfos p {
    margin: 0;
    font-size: 1vw;
}

.perksName {
    font-size: 1vw;
    color: black;
    font-weight: bold;
}

.perksDesc {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
    color: #663399;
    font-size: 1vw;
    font-weight: bold;
    padding-left: 14px;
}

.cPerksPrice {
    display: flex;
    margin-top: 6px;
}

.btnBuyPerks img {
    height: 24px;
    width: 24px;
}

.btnUnlockPerks img {
    height: 24px;
    width: 24px;
}

.perksEarning {
    color: #21c1e9;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 1.2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBuyPerks {
    height: 60%;
    color: white;
    font-weight: bold;
    width: 80%;
    background-color: #379efa;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnUnlockPerks {
    height: 60%;
    color: white;
    font-weight: bold;
    width: 80%;
    background-color: #52cbb6;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cPerksInfos button:hover {
    transform: scale(1.05);
    transition: all 250ms ease-in-out;
}

.cPerksInfos button:not(:hover) {
    transform: scale(1);
    transition: all 250ms ease-in-out;
}

.cPerksInfos button:focus {
    outline: none;
}

.perksImg {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: center;
    padding-left: 14px;
}

.perksImg img {
    height: 64px;
    width: 64px;
    border-radius: 50px;
}

.perksBuy {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    line-height: 1.1vw;
}

.btnBuyPerks p {
    font-size: 0.7vw;
}

.btnUnlockPerks p {
    font-size: 0.7vw;
}

/* MODAL MAP */

.cModalMap {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalMap {
    position: relative;
    background-image: url(../img/map/map-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 10px solid #c07d30;
    border-radius: 20px;
    width:  74vw;
    height: 90vh;
    z-index: 9999;
}

#map1Selector {
    left: 7.5%;
    top: 60.5%;
}

#map2Selector {
    left: 28%;
    top: 80%;
}

#map3Selector {
    left: 77%;
    top: 71.5%;
}

#map4Selector {
    left: 86%;
    top: 52%;
}

#map5Selector {
    left: 68.5%;
    top: 35.5%;
}

#map6Selector {
    left: 60%;
    top: 17.5%;
}

#map7Selector {
    left: 44.5%;
    top: 2.5%;
}

#map8Selector {
    left: 45%;
    top: 59.5%;
}

#map9Selector {
    left: 13.5%;
    top: 41.5%;
}

#map10Selector {
    left: 27.5%;
    top: 16.5%;
}


.divSelector {
    position: absolute;
    height: 12vh;
    width: 7vw;
    /* background-color: aquamarine; */
}

.closebtn {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 50px;
    width: 50px;
    z-index: 9999;
    background-image: url("../img/close-map.png");
    background-size: 100% 100%;
}

.closebtn:hover {
    background-image: url("../img/close-map-hover.png");
    background-size: 100% 100%;
}